
    #contenido-alquimia {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    #contenido-alquimia img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    #contenido-alquimia p {
        font-size: 1.2em;
        line-height: 1.6;
        text-align: justify;
        margin: 10px 0;
    }

