<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alquemia</title>
	
	<!-- Enlaces a iconos y hojas de estilo -->
	<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">
</head>
<body>

	<style>
		.active {
			background-color: #2f5d4b;
		}
	</style>

	<aside id="barra-lateral">
		<a href="#" class="marca">Alquemia</a>
		<nav>
			<ul class="menu-lateral">
				<li>
					<a href="{{ url_for('productos') }}" class="{% if request.path.startswith(url_for('productos')) %}active{% endif %}">
						<i class='bx bx-package icono'></i>Productos
					</a>
				</li>
				<li>
						<i class='bx bx-category icono'></i>Categorías
					</a>
				</li>
				<li>
						<i class='bx bx-undo icono'></i>Devoluciones
					</a>
				</li>
				<li>
						<i class='bx bx-cart icono'></i>Pedidos
					</a>
				</li>
			</ul>
		</nav>
	</aside>

	<main id="contenido">
		<section class="panel-principal">
			{% block contenido %}
			{% endblock %}
		</section>
	</main>

</body>
</html>
