{% extends "base.html" %}

{% block head_extra %}
  <script src="https://www.paypal.com/sdk/js?client-id=ASox0EHAlSHDHdV4ThhxqVZee0iCK7vf-3kcuNhmQuS8lDrsrb7AbsIfrJAWhR6MdGlUVaWtPefJYaja&currency=USD&components=buttons,funding-eligibility"></script>
  {% endblock %}

{% block title %}Pagar{% endblock %}

{% block content %}
<div class="center column">
    <h1>Realiza tu pago</h1>

    <div id="resumen-pedido">
        <h2>Resumen de tu pedido</h2>
        <ul id="productos-resumen">
            {% for producto in cesta.get('productos_cesta', []) %}
                <li>
                    <span>{{ producto.nombre }}</span> - {{ producto.subtotal }} €
                </li>
            {% endfor %}
        </ul>

        <div id="total-pedido">
            <strong>Total: </strong><span>{{ cesta['total'] | round(2) }} €</span>
        </div>
    </div>

    <!-- Botón PayPal -->
    <div class="paypal-button-container" id="paypal-button-container"></div>

    <!-- Botón para pagar con tarjeta -->
    <div class="paypal-button-container" id="paypal-card-button-container"></div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var totalCesta = {{ cesta['total'] | round(2) }};

        // Botón PayPal
        paypal.Buttons({
            fundingSource: paypal.FUNDING.PAYPAL,
            style: {
                layout: 'vertical',
                color: 'white',
                shape: 'rect',
                label: 'pay'
            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalCesta.toFixed(2),
                            currency_code: 'USD'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Pago realizado por ' + details.payer.name.given_name);
                    window.location.href = "http://127.0.0.1:5000/pedido_exitoso";

                });
            }
        }).render('#paypal-button-container');

        // Botón Tarjeta
        paypal.Buttons({
            fundingSource: paypal.FUNDING.CARD,
            style: {
                layout: 'vertical',
                color: 'white',
                shape: 'rect',
                label: 'pay'
            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalCesta.toFixed(2),
                            currency_code: 'USD'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Pago realizado por ' + details.payer.name.given_name);
                    window.location.href = "http://127.0.0.1:5000/pedido_exitoso";
                });
            }
        }).render('#paypal-card-button-container');
    });
</script>
{% endblock %}
