{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/authentication/registro.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/ver_contraseña.js') }}"></script>

<section class="flex justify-center align-start flex-wrap">
  <div id="grid-4" class="flex-wrap">
    <img src="{{ url_for('static', filename='img/registro/imagen_1.png') }}" alt="Imagen 1" />
    <img src="{{ url_for('static', filename='img/registro/imagen_2.png') }}" alt="Imagen 2" />
    <img src="{{ url_for('static', filename='img/registro/imagen_3.png') }}" alt="Imagen 3" />
    <img src="{{ url_for('static', filename='img/registro/imagen_4.png') }}" alt="Imagen 4" />
  </div>

  <div>
    <h2 class="text-center">Crea tu cuenta <span>Alquemia</span></h2>
    <p class="text-center">¿Qué tipo de cliente eres?</p>

    <form class="center column" method="POST" action="/registro">
      {% if error %}
      <div class="error align-center">{{ error }}</div>
      {% endif %}

      <div class="flex">
        <div class="flex">
          <input type="radio" id="particular" name="cliente_tipo" value="False" {% if cliente_tipo == 'False' %}checked{% endif %} required  checked/>
          <label for="particular">Particular</label>
        </div>
        <div class="flex">
          <input type="radio" id="empresa" name="cliente_tipo" value="True" {% if cliente_tipo == 'True' %}checked{% endif %} required />
          <label for="empresa">Empresa</label>
        </div>
      </div>

      <input type="text" name="nombre" placeholder="Nombre" required class="w-25" />
      <input type="text" name="apellido1" placeholder="Apellido 1" required class="w-25" />
      <input type="text" name="apellido2" placeholder="Apellido 2" required class="w-25" />
      <input type="email" name="email" placeholder="Email" required class="w-25" />

      <div class="contraseña_contenedor">
        <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required class="w-25" />
        <span id="OjoContraseña" class="icono-ojo fas fa-eye"></span>
      </div>

      <div class="contraseña_contenedor">
        <input type="password" name="confirmar_contrasena" id="confirmar_contrasena" placeholder="Confirmar Contraseña" required class="w-25" />
        <span id="OjoContraseñaConfirmacion" class="icono-ojo fas fa-eye"></span>
      </div>

      <p class="text-center">
        La contraseña debe contener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un número.
      </p>

      <button class="center button-green" type="submit">Crear cuenta</button>
    </form>
  </div>
</section>

{% endblock %}
