{% extends "base.html" %}

{% block head_extra %}
  <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/authentication/olvidado_restablecer_contraseña.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Restablecer Contraseña - Alquimia{% endblock %}

{% block content %}
<div class="olvidado-contrasena-container">
  <h2>Restablecer Contraseña</h2>

  <!-- Mostrar mensaje de error si es necesario -->
  {% if tipo_mensaje == 'error' %}
  <div class="error align-center">{{ error }}</div>
  {{ mensaje }}
    </div>
  {% endif %}

  <form class="center" method="POST">
    <div class="form-grupo">
      <label for="nueva_contraseña">Nueva Contraseña</label>
      <input type="password" id="nueva_contraseña" name="nueva_contraseña" required>
    </div>

    <div class="form-grupo">
      <label for="confirmar_contraseña">Confirmar Contraseña</label>
      <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" required>
    </div>

    <button type="submit" class="center btn btn-primary">Guardar Contraseña</button>
  </form>
</div>
{% endblock %}
