{% extends "base.html" %}

{% block head_extra %}
  <link href="{{ url_for('static', filename='css/encuentranos.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Alquimia{% endblock %}

{% block content %}
<section id="contenedor_buscador_tienda" class="flex wrap justify-center align-start">
    <div id="buscador_tiendas">
        <h2>Buscador de tiendas</h2>
        <p>Encuentra tu tienda Alquimia más cercana</p>

        <!-- Selectores de filtros -->
        <select id="select-pais">
            <option value="">Seleccionar País</option>
            {% for pais in paises %}
                <option value="{{ pais[0] }}" {% if pais[0] == selected_pais %}selected{% endif %}>{{ pais[0] }}</option>
            {% endfor %}
        </select>

        <select id="select-provincia">
            <option value="">Seleccionar Provincia</option>
            {% for provincia in provincias %}
                <option value="{{ provincia[0] }}" {% if provincia[0] == selected_provincia %}selected{% endif %}>{{ provincia[0] }}</option>
            {% endfor %}
        </select>

        <select id="select-ciudad">
            <option value="">Seleccionar Ciudad</option>
            {% for ciudad in ciudades %}
                <option value="{{ ciudad[0] }}" {% if ciudad[0] == selected_ciudad %}selected{% endif %}>{{ ciudad[0] }}</option>
            {% endfor %}
        </select>

        <!-- Muestra las tiendas filtradas -->
        <div id="tiendas-grid">
            {% for tienda in tiendas %}
                <div class="tienda-card"
                     data-pais="{{ tienda.pais }}"
                     data-provincia="{{ tienda.provincia }}"
                     data-ciudad="{{ tienda.ciudad }}"
                     data-url="{{ tienda.maps_url }}"
                     onclick="mostrar_mapa(this)">
                    <h3>{{ tienda.ciudad }}</h3>
                    <p><strong>Provincia:</strong> {{ tienda.provincia }}</p>
                    <p><strong>CP:</strong> {{ tienda.codigo_postal }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="mapa">
        <p id="mapa-mensaje">
            <i class="fas fa-search"></i>
            Localiza tu tienda más cercana
        </p>
        
        <iframe id="mapa-maps" src="" style="width: 100%; height: 400px; display:none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<script src="{{ url_for('static', filename='js/mostrar_mapa.js') }}"></script>
<script src="{{ url_for('static', filename='js/filtrar.js') }}"></script>

{% endblock %}
