{% extends "base.html" %}

{% block head_extra %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Alquemia{% endblock %}

{% block content %}
<div id="mujer_hombre">
  <div id="mujer" class="centrer altura-completa">
    <a href="{{ url_for('catalogo', seccion='mujer') }}" class="center">MUJER</a>
  </div>
  <div id="hombre" class="center altura-completa">
    <a href="{{ url_for('catalogo', seccion='hombre') }}" class="center">HOMBRE</a>
  </div>
</div>
{% endblock %}
